@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



@media screen and (max-width:1000px){
      body {
	    background-color: #e7ecdf;
      }
  }
  
  @media screen and (max-width:600px){
      body {
	    background-color: #ffffcc;
      }
  }
  
  h1 {
     font-family: Quicksand;
     letter-spacing: 20px;
     font-size: 30px;
  }
  
  nav {
     width: 100%;
     height: 3em;
     background-color: white;
     line-height: 3em;
     letter-spacing: 3px;
     color: yellow;
  }
  nav ul li {
     display: inline;
     padding: 10px;
  }
  nav ul {
      list-style: none;
      text-align: center;
  }
  ul{
        list-style: none;
  }
 a{
         text-decoration: none;
 }
  nav ul li a {
    text-decoration: none;
    color: black;
  }
  a:hover {
	 text-decoration: underline;
  }
  
  section {
     width: 100%;
     min-height:600px;
/*      background-color: yellow; */
     float: left;
     text-align: center; 
     
  }
  
  
  
  footer {
     clear: both;
     width: 100%;
     height: 3em;
     line-height: 3em;
     background-color: white;
     color: black;
     text-align: center;
      font-family: Quicksand;
  }

img {
  width: 850px;
  height: 400px;

}

